PORT=3000
DATABASE_URL=
JWT_SECRET=supersecretkey_ethiopia_b2b_2026
CHAPA_SECRET_HASH=chapa_test_secret_key_12345
TELEBIRR_SECRET=telebirr_test_secret_key_67890
MAINTENANCE_MODE=false
APP_VERSION=1.0.0
